@using Microsoft.AspNetCore.Identity
@using BE.Areas.Identity.Data
@inject SignInManager<BEUser> SignInManager
@inject UserManager<BEUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-dropdown-wrapper">
        <div class="user-toggle-row">
            <span class="welcome-msg">Welcome back!</span>
            <div class="user-dropdown" onclick="toggleUserMenu()">
                <i class="fa fa-user"></i>
                <i class="fa fa-chevron-down dropdown-arrow"></i>
            </div>
        </div>

        <div id="user-menu" class="user-menu hidden">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="margin: 0;">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="user-dropdown-wrapper">
        <div class="user-dropdown" onclick="toggleUserMenu()">
            <i class="fa fa-user"></i>
            <i class="fa fa-chevron-down dropdown-arrow"></i>
        </div>

        <div id="user-menu" class="user-menu hidden">
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}
