.header {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

    .header .logo {
        font-family: var(--font-secondary);
        font-size: 2rem;
        font-weight: bold;
        color: var(--color-primary);
    }

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1rem;
}

    .nav-links a {
        color: var(--color-primary);
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;
        padding: 0.4rem 1.2rem;
        border-radius: 2rem;
        border: 1px solid transparent;
    }

        .nav-links a:hover {
            border: 1px solid var(--color-primary);
        }

.nav-icons {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
}
